<section class="block">
    <header class="block__header">
      <h2>What Our Customers are Saying?</h2>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ut, ratione.</p>
    </header>
    <div class="container">
      <div class="grid grid--1x2 testimonial">
        <div class="testimonial__img">
          <span class="icon-container icon-container--accent">
            <svg class="icon icon--white icon--small">
                <use xlink:href="images/sprite.svg#quotes"></use>
              </svg>
          </span>
          <img src="/images/testimonial.jpg" alt="A happing Customer" srcset="">
        </div>
        <blockquote class="quote">
          <p class="quote__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam consequuntur voluptates architecto asperiores dignissimos eius! Dicta exercitationem obcaecati voluptate ipsa recusandae temporibus est a voluptatum. Nemo est molestias beatae voluptatem.</p>
          <div class="media">
            <div class="media__image">
              <svg class="icon icon--primary quote__line">
                <use xlink:href="images/sprite.svg#line"></use>
              </svg>
            </div>
            <footer>
              <h3 class="media__title quote__author">John Smith</h3>
              <p class="quote__organizaton">ABC Company</p>
            </footer>
           </div>
      
        </blockquote>
        
      </div>
    </div>

  </section>